<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>
<div class="container">
    <div class="jumbotron mb-0">
        <h1 class="display-4">Pesquisar Empregado</h1>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between mb-3">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/projeto/calcular">Calcular</a>
            <a class="nav-item nav-link" href="cadastrar">Cadastrar</a>
            <a class="nav-item nav-link" href="listar">Empregados</a>
            <a class="nav-item nav-link" href="">Pesquisar</a>
        </div>
    </nav>
    <form th:object="${pesquisaFormDto}" class="row g-3 card-body row" action="/projeto/empregados/pesquisar" method="post">

        <div class="form-group col-md-6">
            <label  class="form-label">Nome Funcionário</label>
            <input th:field="*{nome}" th:errorclass="is-invalid"  type="text" class="form-control" placeholder="Digite nome">
            <div class="invalid-feedback" th:errors="*{nome}">
                Erros do nome
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-secondary">Pesquisar</button>
        </div>
    </form>
</div>
</body>
</html>